*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-family: cursive;
}
.box-img{
    width: 200px;
}
img{
    width: 100%;
}
button{
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-family: cursive;
}