.gon{
   // background: var(--bg-gon);
   background: linear-gradient(rgba(0, 0, 0, 0.51),
    rgba(0, 0, 0, 0.51)),url("../img/gon-bg.jpg")center center/cover no-repeat fixed ;
}
.killua{
   // background: var(--bg-killua);
    background: linear-gradient(rgba(0, 0, 0, 0.51),
    rgba(0, 0, 0, 0.51)),url("../img/killua-bg.jpg")center center/cover no-repeat fixed ;
}
.kurapika{
   // background: rgb(138, 65, 60);
   background: linear-gradient(rgba(0, 0, 0, 0.51),
    rgba(0, 0, 0, 0.51)),url("../img/kurapika-bg.jpg")center center/cover no-repeat fixed ;
}