* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-gon:#47a042;
  --bg-killua:#2e3485;
  --font_text:'Roboto', sans-serif;
  --font_title:'Bebas Neue', cursive;
}

body {
  width: 100%;
  height: 100vh;
}

.alinhamento {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding-inline: 2%;
}

header nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  list-style: none;
  font-size: 1.4rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: var(--font_text);
  text-transform: uppercase;
  font-weight: 700;
}

header img {
  width: 10rem;
}

main {
  width: 100%;
  position: relative;
}

main #personagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

main #personagem #trocaPersonagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
}

main #personagem #trocaPersonagem img {
  border-radius: 50%;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main #personagem #trocaPersonagem img:hover {
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

main #personagem #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 2rem;
  height: 100%;
}

main #personagem #name img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 500px;
  width: 220px;
}

main #personagem #content-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  gap: 30px;
}

main #personagem #content-person p {
  text-align: justify;
  color: white;
  font-family: var(--font_text);
  font-size: 15px;
}

main #personagem #content-person .box {
  padding: 3%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

main #personagem #content-person .box:nth-child(1) {
  min-height: 300px;
}

main #personagem #content-person .box:nth-child(1) h2 {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: var(--font_title);
  font-size: 30px;
}

main #personagem #content-person .box:nth-child(1) p {
  margin-top: 2rem;
}

main #personagem #content-person .nem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  height: 200px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 3%;
}

main #personagem #content-person .nem h2 {
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: var(--font_title);
  font-size: 2rem;
}

main #personagem #content-person #nem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #personagem #content-person #nem .informations-nem {
  margin-top: 1rem;
  height: 60px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: var(--font_text);
  font-size: 1.6rem;
  padding: 2%;
}

main #personagem #content-person #nem .informations-nem p {
  font-size: 1.3rem;
}

.gon {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51))), url("../img/gon-bg.jpg") center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url("../img/gon-bg.jpg") center center/cover no-repeat fixed;
}

.gon #gon {
  border: 2px solid white;
}

.killua {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51))), url("../img/killua-bg.jpg") center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url("../img/killua-bg.jpg") center center/cover no-repeat fixed;
}

.killua #killua {
  border: 2px solid white;
}

.kurapika {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51))), url("../img/kurapika-bg.jpg") center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url("../img/kurapika-bg.jpg") center center/cover no-repeat fixed;
}

.kurapika #kurapika {
  border: 2px solid white;
}

@media (max-width: 1116px) {
  body main #personagem #trocaPersonagem {
    left: 30px;
  }
  body main #personagem #nem .nem-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  body main #personagem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main #personagem #trocaPersonagem {
    top: 130px;
    left: 10px;
  }
  body main #personagem #content-person {
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
/*# sourceMappingURL=main.css.map */