
    #castelo{
        background:linear-gradient(-90deg, transparent,rgba(0, 0, 0, 0.541) 60%,rgba(0, 0, 0, 0.842)), url("../img/castelo.jpg")center center/cover ;
    }
    #cidade1{
        background:linear-gradient(-90deg, transparent,rgba(0, 0, 0, 0.541) 60%,rgba(0, 0, 0, 0.842)), url("../img/cidade.jpg")center center/cover ;
    }
    #cidade2{
        background:linear-gradient(-90deg, transparent,rgba(0, 0, 0, 0.541) 60%,rgba(0, 0, 0, 0.842)), url("../img/cidade2.jpg")center center/cover ;
    }