* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-Text: 'Poppins', sans-serif;
  --font-title:'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
}

body p {
  font-family: var(--font-Text);
}

body .title {
  color: white;
  font-size: 6rem;
  font-family: var(--font-title);
}

.alinhamento {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 2%;
}

header {
  z-index: 1000;
}

nav {
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul a {
  font-family: var(--font-Text);
  font-weight: 800;
  color: white;
  text-decoration: none;
}

nav #menu {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

.menu-expanded nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: red;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-expanded nav .logo {
  display: none;
}

.menu-expanded nav #menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 40px;
  cursor: pointer;
}

.menu-expanded nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  gap: 4rem;
  text-align: center;
  font-size: 3rem;
}

.menu-expanded main {
  display: none;
}

@media (min-width: 700px) {
  header {
    position: absolute;
    width: 100%;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  }
}

@media (max-width: 699px) {
  header {
    position: relative;
  }
  .alinhamento {
    padding: 3%;
  }
  nav {
    height: 7rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  }
  nav ul {
    display: none;
  }
  nav #menu {
    display: block;
  }
}

#castelo {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(60%, rgba(0, 0, 0, 0.541)), to(rgba(0, 0, 0, 0.842))), url("../img/castelo.jpg") center center/cover;
  background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.541) 60%, rgba(0, 0, 0, 0.842)), url("../img/castelo.jpg") center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#castelo .kanji {
  position: absolute;
  z-index: -1;
  color: rgba(255, 255, 255, 0.062);
  left: 0;
  top: 5rem;
  font-size: 200px;
}

#castelo .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  gap: 2rem;
  width: 100%;
}

#castelo .text p {
  margin-left: 1rem;
  color: white;
  max-width: 50rem;
  width: 100%;
}

#castelo .text button {
  margin-left: 1rem;
  height: 4rem;
  width: 20rem;
  color: #0f0f0f;
  background: white;
  border: 1px solid black;
  font-family: var(--font-Text);
  font-weight: 700;
  box-shadow: 0px 0px 38px 5px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 38px 5px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 38px 5px rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

#castelo footer {
  position: absolute;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 30px;
}

#castelo footer .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

#castelo footer .position .circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.623);
}

#castelo footer .position .circle.active {
  background: rgba(255, 255, 255, 0.623);
}

#castelo footer .navigation button {
  width: 50px;
  height: 50px;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.411);
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#castelo footer .navigation button:hover {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.774);
}

#castelo #footer #voltar {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */