*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --font-Text: 'Poppins', sans-serif;
    --font-title:'Montserrat', sans-serif;
}
body{
    width: 100%;
    height:100vh;
    font-size: 1.6rem;
    position: relative;
   
    p{
        font-family:var(--font-Text);
    }
    .title{
        color: white;
        font-size: 6rem;
        font-family:var(--font-title);
    }
    
}
.alinhamento{
    width: 100%;
    max-width: 1200px;
    margin-inline:auto;
    padding-inline:2%;
}
@import "nav";
@import "secCastelo";
@import "secimg";
@import "footer";
